.buttoncontainer {
    margin-left: 25%;
    padding-top: 2%;
}
.slidecontainer {
    width: 70%;
    margin-left: 25%;
    padding-top: 2%;
  }

  .screencontainer {
    width: 60%;
    margin-left: 20%;
    padding-top: 2%;
    
  }
  
  .slider {
    margin-left: 15px;
    margin-right: 25px;
    -webkit-appearance: none;
    width: 20%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

label{
  font-style: normal;
  font-weight: 500;
  font-family: cursive;
}
#screen{
  border-width: medium;
  border-style: outset;
  border-color: green;
  border-radius: 10px;
}
